*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    position: fixed;
    width:100%;
    height:100vh;
    background-color: #462de7;
}

.cajita{
    display:flex;
    width:70%;
    height:85vh;
    background-color: white;
    border-radius: 20px;
}


.Form{
    display:flex;
    flex-direction: column;
    gap: 20px;
    padding-top:30px;
    padding-left:30px;
    width:50%;
}
.TextPrimary{
    font-size:40px;
    color:#4c48b5;
}

.Paragraph{
    color:#8298cd;
}

.Formulation{
    color:#8298cd;
    font-size:10px;

}
.inputt{
    display:flex;
    flex-direction:column;
    gap:20px;
}
.input{
    background-color:#f4f6fd;
    width:50vh;
    height:4vh;
    border:none;
    border-radius: 20px;
    text-align: center;
}

.area{
    border-radius: 20px;
    width:50vh;
    height:10vh;
    background-color:#f4f6fd;
    border: none;
    text-align: center;
    resize:none;
}

.area::placeholder{
    text-align: center;
}


.button{
    background-color:#827ffe;
    color: #fff;
    border: none;
    border-radius: 20px;
    width:40vh;
    height:6vh;
    cursor: pointer;
}


.img{
    width:100%;
}


.Imgandcontact{
    width:50%;
    height:100%;
    display:flex;
    flex-direction: column;
    gap: 70px;
}

.Imgandcontact > ul{
    
    list-style: none;
    font-size:40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width:100%;

}

.Imgandcontact > ul > li > a{
    color: #f9b246;
}


@media (max-width: 600px){

    .cajita{
        display:flex;
        flex-direction: column;
        width:100%;
        height:85vh;
        background-color: white;
    }

    .Imgandcontact{
        display:none;
    }

    .Form{
        display:flex;
        flex-direction: column;
        gap: 20px;
        padding-top:30px;
        padding-left:30px;
        width:100%;
    }
    .input{
        background-color:#f4f6fd;
        width:40vh;
        height:4vh;
        border:none;
        border-radius: 20px;
        text-align: center;
    }

    .area{
        border-radius: 20px;
        width:40vh;
        height:10vh;
        background-color:#f4f6fd;
        border: none;
        text-align: center;
        resize:none;
    }
}